body {
    font-family: Sans-Serif;
    padding-left: 30px;
    /*margin-top: 40px;
    overflow: hidden;*/
}

.secret {
    text-decoration: none;
}

a:link {
    color: blue;
}

a:visited {
    color: blue;
}

a:hover {
    color: blue;
}

a:active {
    color: red;
}


/* seeecreet */
/*
.noscroll {
    overflow: hidden;
}

.viewport {
    overflow: auto;
    max-height: 100%;
    padding-right: 100px;
}*/
