body {
  max-width: 60em;
  margin: 0 auto;
  margin-top: 1em;
  margin-bottom: 1em;
  float: none;
  font-family: "Inclusive Sans", "Noto Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h3 {
  margin-top: 0px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  padding-bottom: 1em;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

.circle {
  border-radius: 50%;
}

.inset {
  padding-left: 1em;
  list-style-type: none;
}

#header {
  grid-column: span 2;
  display: grid;
  grid-template-columns: 0.3fr 1fr 0.3fr;
  gap: 3em;
}

@media (max-width: 62em) {
  body {
    margin: 1em 1em;
  }

  .container {
    grid-template-columns: 1fr;
  }

  #hb {
    display: none;
  }

  #face {
    max-height: 10em;
    width: auto;
  }

  #header {
    grid-column: span 1;
    display: grid;
    grid-template-columns: 0.3fr 1fr;
  }
}
