.container {
  display: flex;
}
.container > .flex {
  flex-basis: 0;
  flex-grow: 1;
  padding: 3px 10px 7px 10px;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.item {
  padding-left: 5px;
}
.darker {
  color: #3d463d;
}
body {
  max-width: 850px;
  margin: 0 auto;
  float: none;
  background-color: #fbfbf0;
  color: #565f56;
  font-family: Noto Serif, serif;
}
a:visited {
  color: blue;
  text-decoration: none;
}
a:link {
  color: blue;
  text-decoration: none;
}
.circle {
  border-radius: 50%;
}

