body {
  max-width: 920px;
  margin: 0 auto;
  float: none;
  background-color: #fbfbf0;
  color: #565f56;
  font-family: Noto Serif, serif;
}

a:visited {
  color: blue;
  text-decoration: none;
}

a:link {
  color: blue;
  text-decoration: none;
}

.container {
  display: flex;
}

.flex, .wide {
  flex-basis: 0;
  flex-grow: 1;
  padding: 3px 10px 7px 10px;
}

.wide {
  flex-basis: 40%;
}

@media (max-width: 850px) {
  .container {
    flex-direction: column;
  }

  #header {
    flex-direction: row;
  }

  #hb {
    display: none;
  }

  body {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: -10px;
  }
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.inset {
  padding-left: 7px;
  list-style-type: none;
}

li.inset {
  margin-left: -33px;
}

.nudge-right {
  padding-left: 25px;
}

.darker {
  color: #3d463d;
}

.circle {
  border-radius: 50%;
}

#header {
  margin-top: 40px;
}

.space-around {
  margin-top: 15px;
}

.space-around:not(.first):not(.last) {
  margin-left: 7px;
  margin-right: 7px;
}

.first {
  margin-right: 7px;
}

.last {
  margin-left: 7px;
}
